{% extends "app.html" %}

{% block body %}

    <h1>Hello World!</h1>
    <table class="table" id="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
        {%for key,value in products %}
        
        <tr data-id="{{value['id']}}">
        {%for k,v in value %}
          {%if k == 'id' %}
          <td data-id="{{v}}">{{ v }}</td>
          {%else %}
          <td>{{ v }}</td>
          {% endif %}
        
        {% endfor %}
        <td>
          <button type="button" class="edit btn btn-info" data-toggle="modal"
           data-target="#exampleModal2"
           data-id="{{products[key]['id']}}">
            Edit
          </button>
        </td>
        <td><input type="checkbox" data-id="{{products[key]['id']}}"></td>
        </tr>
    {% endfor %}
    
    </table>

   <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add product
  </button>
  <button type="button" class="btn btn-danger" id="delete">
    Delete chosen products
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" action="add" id="form">
            <div class="modal-body">
            
                <label for="name">Название</label>
                <input type="text" id="name">  
                <label for="name">Цена</label>
                <input type="number" id="price">
    
            
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" id="add" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" action="edit" id="editForm">
            <div class="modal-body">
            
                <label for="name">Название</label>
                <input type="text" id="newName" name="newName">  
                <label for="name">Цена</label>
                <input type="number" id="newPrice" name="newPrice">
    
            
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" id="editButton" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>
 
{% endblock %}
